*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Firebase emulator logs and tokens
firebase-debug.log
firestore-debug.log
.firebase*
.emulator_console_auth_token
/functions/node_modules

# IDE and OS files
.idea/
*.log
